.signup-container > h1 {
  font-size: 30px;
  text-align: center;
}
.signup-container > form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  place-items: center;
  align-self: center;
}

.signup-container > form > button {
    margin-top: 10px;
    background-color: rgb(240, 196, 0);
}

