.signup-container > form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  place-items: center;
  align-self: center;
  
}

.signup-container > form > button {
    margin-top: 10px;
    background-color: rgb(240, 196, 0);
}

